/* Links */
.nav-link {
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.3s;
  font-size: 18px;

  &:hover {
    color: var(--color-brand-normal);
    text-decoration: underline;
  }
}

.footer-link,
.address-link {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-primary-light);
  text-decoration: none;
  margin-bottom: 14px;

  @media screen and (min-width: $bp-tablet) {
    margin-bottom: 16px;
    font-size: 16px;
  }
  @media screen and (min-width: $bp-desktop) {
    font-size: 18px;
  }

  &:hover {
    color: var(--color-brand-normal);
    text-decoration: underline;
  }
}
